* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #3161e0;
    height: 75px;
}

img {
    max-width: 100%;
}

.container-head {
    height: 75px;
    margin: auto;
    align-items: center;
    vertical-align: middle;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 15%;
}

.link {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.button {
    width: 15%;
    text-align: right;
}

.accedi {
    height: 33px;
    width: 67px;
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
}

.container-1 {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
}

.section-a {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding-top: 90px;
    color: white;
}

.section-a span {
    font-size: 60px;
    font-weight: 600;
}

.section-a p {
    font-size: 1.4rem;
    margin-top: 2rem;
}

.button-2 {
    margin-top: 1.5rem;
}

.mac {
    background-color: white;
    border: none;
    cursor: pointer;
    margin-right: 1.5rem;
    font-size: 18px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.browser {
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 25px;
    width: 290px;
    height: 50px;
}

.container-2 {
    display: flex;
    padding-top: 135px;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    min-width: 550px;
    vertical-align: middle;
}

.item1 {
    width: 55%;
}

.description {
    width: 30%;
}

.description h2 {
    font-size: 2.6rem;
    padding-top: 1.5rem;
}

.description p {
    margin-top: 2rem;
    font-size: 1.1rem;
    line-height: 1.5;
}